/**
    COLOR SCHEME
    Base        : rgb(60, 110, 110)
    Tint        : rgb(110, 150, 150)
    Lighter Tint: rgb(160, 190, 190)
    Shade       : rgb(30, 80, 80)
    Darker Shade: rgb(15, 45, 45)
    Desaturated : rgb(85, 85, 85)
*/

/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Tag Styles */
body {
    font-family: "Poppins", sans-serif;
}

h1 {
    font-size: 3rem;
    font-weight: 600;
}

h2,
h3 {
    margin-bottom: 20px;
    font-weight: 600;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(50, 50, 50);
    padding: 15px 0;
    z-index: 1000;
}


footer {
    background-color: rgb(50, 50, 50);
    padding: 20px 0;
    text-align: center;
    font-size: 0.9rem;
}

/* Header navigation */
.navbar-nav .nav-link {
    padding: 10px 15px;
    font-weight: 500;
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    border-bottom: 2px solid rgb(60, 110, 110);
}

.button {
    background-color: rgb(50, 50, 50);
    color: rgb(230, 245, 245);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.page {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 800px;
    flex-wrap: wrap;
}

/* Light Mode (Default) */
.bg-container {
    color: rgb(50, 50, 50);
    background-color: rgb(160, 190, 190);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Cellipse fill='none' stroke-width='3.3' stroke-opacity='0.3' id='a' rx='150' ry='1100'/%3E%3C/defs%3E%3Cg transform='scale(0.766)' style='transform-origin:center'%3E%3Cg style='transform-origin:center'%3E%3Cg transform='rotate(-160 0 0)' style='transform-origin:center'%3E%3Cg transform='translate(1000 750)'%3E%3Cuse stroke='%230f2d2d' href='%23a' transform='rotate(-60 0 0) scale(0.4)'/%3E%3Cuse stroke='%23163837' href='%23a' transform='rotate(-50 0 0) scale(0.5)'/%3E%3Cuse stroke='%231c4341' href='%23a' transform='rotate(-40 0 0) scale(0.6)'/%3E%3Cuse stroke='%23224d4b' href='%23a' transform='rotate(-30 0 0) scale(0.7)'/%3E%3Cuse stroke='%23295855' href='%23a' transform='rotate(-20 0 0) scale(0.8)'/%3E%3Cuse stroke='%232f635f' href='%23a' transform='rotate(-10 0 0) scale(0.9)'/%3E%3Cuse stroke='%23366d68' href='%23a' transform=''/%3E%3Cuse stroke='%233c6e6e' href='%23a' transform='rotate(10 0 0) scale(1.1)'/%3E%3Cuse stroke='%23477474' href='%23a' transform='rotate(20 0 0) scale(1.2)'/%3E%3Cuse stroke='%23517b7a' href='%23a' transform='rotate(30 0 0) scale(1.3)'/%3E%3Cuse stroke='%235b8180' href='%23a' transform='rotate(40 0 0) scale(1.4)'/%3E%3Cuse stroke='%23658886' href='%23a' transform='rotate(50 0 0) scale(1.5)'/%3E%3Cuse stroke='%236f8e8c' href='%23a' transform='rotate(60 0 0) scale(1.6)'/%3E%3Cuse stroke='%23799492' href='%23a' transform='rotate(70 0 0) scale(1.7)'/%3E%3Cuse stroke='%23839b98' href='%23a' transform='rotate(80 0 0) scale(1.8)'/%3E%3Cuse stroke='%238da19e' href='%23a' transform='rotate(90 0 0) scale(1.9)'/%3E%3Cuse stroke='%2397a7a4' href='%23a' transform='rotate(100 0 0) scale(2)'/%3E%3Cuse stroke='%2397aba7' href='%23a' transform='rotate(110 0 0) scale(2.1)'/%3E%3Cuse stroke='%239cb4ae' href='%23a' transform='rotate(120 0 0) scale(2.2)'/%3E%3Cuse stroke='%23a0bebe' href='%23a' transform='rotate(130 0 0) scale(2.3)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    z-index: -1;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* For iOS device */
@supports (-webkit-touch-callout: none) {
  .bg-container {
    background-attachment: scroll !important;
  }
}

/* Dark mode */
body.dark-mode {
    background-color: rgb(50, 50, 50);
    color: rgb(160, 190, 190);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* All Section  */
.section {
    width: 100%;
    min-height: 100vh;
    padding: 100px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 400;
}

/* Header */
.nav-item .nav-link {
    color: rgb(230, 245, 245);
    font-weight: 500;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-item .nav-link:hover,
.nav-item .nav-link.active {
    color: rgb(160, 190, 190);
}


/* Top section */
.list-inline {
    padding-top: 50px;
}

.job-field {
    font-size: 1.2rem;
    position: center;
}

#top li a {
    text-decoration: none;
    transition: color 0.3s ease;
    font-weight: 600;
    font-size: 1.2rem;
    width: fit-content;
    margin: auto;
}

#top li a:hover {
    color: rgb(60, 110, 110);
    font-weight: bold;
    text-shadow: 1px 1px 1px rgb(85, 85, 85);
    transition: transform 0.3s ease, color 0.3s ease;
}

body.dark-mode #top li a:hover {
    text-shadow: 1px 1px 1px rgb(230, 245, 245);
}

/** About Section */
.profile-img {
    width: 200px;
    height: auto;
    border-radius: 16px;
    object-fit: cover;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}


.about-card {
    background-color: rgb(85, 85, 85);
    border: rgb(85, 85, 85);
    border-radius: 12px;
    overflow: hidden;
    padding: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

#about p {
    color: rgb(230, 245, 245);
    font-size: 1.1rem;
    font-weight: 550;
}

#about strong {
    color: rgb(0, 180, 180);
}

/** Service Section */
.service-list {
    list-style-type: none;
    margin-top: 1.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-left: 0;
    font-size: 1rem;
    line-height: 1.5;
}

#service li {
    color: rgb(230, 245, 245);
    border: 1px solid rgb(60, 110, 110);
    background-color: rgb(60, 110, 110);
    margin: 1rem;
    padding: 1rem;
    border-radius: 12px;
}

#service strong {
    color: rgb(180, 220, 220);
    font-size: 1.2rem;
}

.service {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.service.in-view {
    opacity: 1;
    transform: translateY(0);
}

/** Project Section */
.projects {
    justify-content: center;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 600px));
    gap: 1.5rem;
}

.project-grid h4 {
    text-align: left;
    font-weight: 600;
    opacity: 0.8;
    padding-top: 30px;
    padding-bottom: 10px;
}

.project-card {
    background-color: rgb(30, 80, 80);
    color: rgb(230, 245, 245);
    border: 1px solid rgb(30, 80, 80);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    overflow: hidden;
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.project-card.in-view {
    opacity: 1;
    transform: translateY(0);
}

.project-header {
    margin-bottom: 0.5rem;
}

.project-tag {
    background: rgb(160, 190, 190);
    color: rgb(50, 50, 50);
    font-size: 0.75rem;
    font-weight: bold;
    padding: 0.2rem 0.5rem;
    border-radius: 6px;
    display: inline-block;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

.project-img {
    width: 100%;
    object-fit: contain;
    background-color: transparent;
    padding: 0;
}

.img-back {
    display: block;
    filter: brightness(0.7);
}

.img-front {
    position: absolute;
    top: 5%;
    left: 30%;
    width: 40%;
    border-radius: 30px;
    box-shadow: -7px -20px 7px -10px rgba(26, 68, 111, 0.9) inset,
        0px 30px 5px -10px rgba(0, 0, 0, 0.3),
        inset 0 0 10px 0px #fff,
        inset 0 0 25px 0px #fff;
    /* opacity: 0; */
}

/* 
.crystal-frame {
    position: absolute;
    content: "";
    top:5%;
    left: 30%;
    width: 100px;
  height: 100px;
  border-radius: 30%;
  display: inline-block;
  background: radial-gradient(13% 5% at 45% 5%, #fff 20%, transparent), radial-gradient(20% 20% at 90% 95%, #53FAFF 15%, transparent);
  box-shadow: -2px 65px 8px -40px #dbf2ff;
  transform: rotate(-33deg);
  position: absolute;
}  */

.project-card h4, 
.project-card h5 {
    font-size: 1.2rem;
    margin: 0.5rem;
}

.project-card p {
    font-size: 0.95rem;
    margin: 0.5rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}

.project-list {
    list-style-type: none;
    margin-top: 1.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-left: 0;
    font-size: 0.9rem;
    line-height: 1.5;
}

.project-list strong {
    color: rgb(100, 190, 190);
}

.project-list li {
    margin: 0.5rem;
}

.project-btn {
    display: inline-block;
    padding: 5px 10px;
    margin-bottom: 0.5rem;
    background-color: rgb(50, 50, 50);
    color: rgb(230, 245, 245);
    text-decoration: none;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

/* Project Section - Infrastructure */
.project-list-container.collapsed {
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease;
  will-change: height;
}

.toggle-btn {
  background: transparent;
  color: rgb(230, 245, 245);
  border: none;
  padding: 3px 12px;
  cursor: pointer;
  border-radius: 6px;
}

/* Project Section - Upcoming Projects */
.upcoming-btn {
    display: inline-block;
    padding: 5px 10px;
    margin-bottom: 0.5rem;
    background: rgb(200, 120, 120);
    color: rgb(230, 245, 245);
    text-decoration: none;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.project-btn:hover {
    background-color: rgb(110, 150, 150);
}


/* Skills Section */
#skills h4 {
    margin-top: 2rem;
}

.skill-icons {
    display: grid;
    grid-template-columns: repeat(auto-fit, 60px);
    justify-items: center;
    gap: 10px;
    padding-left: 1.5rem;
    padding-right: 10px;
    background-color: rgb(110, 150, 150);
    border-radius: 30px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transform: translateY(200px);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.skill-icons.in-view {
    opacity: 1;
    transform: translateY(0);
}

.skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: rgb(230, 245, 245);
    border-radius: 30px;
    width: 6rem;
    height: 6rem;
}

body.dark-mode .skill-item {
    color: rgb(230, 245, 245);
}

.skill-item i {
    font-size: 2rem;
    margin-bottom: 5px;
    transition: transform 0.5s ease-in-out;
}

.skill-item img {
    width: 30px;
    height: auto;
    margin-bottom: 5px;
    transition: transform 0.5s ease;
}

.skill-item svg {
    width: 30px;
    height: auto;
    margin-bottom: 5px;
    transition: transform 0.5s ease;
}

.skill-item span {
    font-size: 0.7rem;
}

.skill-item:hover {
    transform: scale(1.1);
    color: rgb(230, 245, 245);
    font-weight: bold;
}

/* Contact Section */
.contact-icons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 2.5rem;
}

.contact-icons a {
    color: rgb(230, 245, 245);
    transition: color 0.3s;
}

.contact-icons a:hover {
    transform: scale(1.1);
    color: rgb(110, 150, 150);
}